[user]
	email = wqq977sz@163.com
	name = Gabriel
[core]
	editor = vim
	excludesfile = /Users/gabriel/.gitignore_global
[alias]
    s = status
    c = commit
    cm = commit -m
    co = checkout
    br = branch
    unstage = reset HEAD --
    last = log -1 HEAD
    acm = !git add . && git commit -m
[pull]
	rebase = true
